<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <style>
        body {
            font-family: poppins;
        }
    </style>
</head>

<body>
   
    <div class="container" style="padding: 0;">
        <table style="color: #000; width: 100%;">
            <tr>
               <td width="33%" style="padding: 5px 0;">
                  <img src="../public/img/logo.png" class="img-fluid" width="90px" style="padding-left: 10px;">
               </td>
               <td width="33%" style="text-align: center;padding: 5px 0;">
                  <h4 style="font-weight: 700; font-size: 16px;font-family: poppins;margin-bottom: 0;">Dr. Rajiv Datoo MD,
                     MBBS, FACP.
                  </h4>
                  <p style="font-weight: 500; font-size:14px; margin: 0;font-family: poppins;">12345
                     Dehlki Road. Punjab
                  </p>
                  <p style="font-weight: 500;font-size:14px;font-family: poppins; margin-bottom: 0;">Fax:+1-234-786-9876</p>
               </td>
               <td width="33%" style="text-align: right;padding: 5px 0;">
                  <h3
                     style="font-weight: 600;color: red;padding:14% 0 0 0; margin: 0;font-family: poppins;font-size: 17px;padding-right: 10px;">
                     Cardiology Requisition Form
                  </h3>
               </td>
            </tr>
         </table>
    </div>
    <section class="for-table-area">
        <div class="container" style="padding: 0;">
            <table style="color: #000; width: 100%;">
                <tr>
                    <td
                        style="background:#a3bdf5;padding: 7px 18px; font-weight: 700; color: #000; font-family: poppins;">
                        PATIENT INFORMATION
                    </td>
                </tr>
            </table>
            <table width="100%" style=" margin-top:30px;">
                <tr>
                    <td
                        style="text-align:center;font-weight: 700; color: #000; font-family: poppins;padding: 20px 0;font-size: 24px;">
                        Reason For Test /History
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Chest pain</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Congestive heart Failure</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Murmur</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Arrhythmia/ Palpitations</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Hypertension</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Valvular heart Disease</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Pacemaker</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Post CABG</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Post stents/ PTCA</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Shortness of breath</label>
                            </div>
                        </td>
                        

                    </tr>
                </table>

                <table width="100%" style=" margin-top:30px;">
                <tr>
                    <td
                        style="text-align:center;font-weight: 700; color: #000; font-family: poppins;padding: 20px 0;font-size: 24px;">
                        REQUESTED TEST
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                       <td width="50%" style="float: left;">     
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 18px;font-weight:600;padding-left: 7px;">Cardiology</label>
                        </td>
                        <td width="50%" style="float: left;">     
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 18px;font-weight:600;padding-left: 7px;">Nuclear Cardiology</label>
                        </td>

                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Holter monitor with 12 -lead ECG</label>
                            </div>
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <span><input type="checkbox" id="exampleCheck1"> 24hr</span>
                                <span><input type="checkbox" id="exampleCheck1" style="margin-left: 10px;font-size: 10px;"> 48hr</span>
                                <span><input type="checkbox" id="exampleCheck1" style="margin-left: 10px;"> 72hr</span>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Myocardial perfusion</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">24 hr BP monitor ( ambulatory BP)</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 0px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Ventricular Function</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">12 Lead Resting ECG</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Viability Study</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Echocardiogram</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Stress Echocardiogram</label>
                            </div>
                        </td>
                        <td width="50%" style="float: left;">
                            <div class="gender" style="padding: 10px 0 0 0px;display:flex;">
                                <input type="checkbox" id="exampleCheck1">
                                <label class="" for="exampleCheck1"
                                    style="margin-bottom: 10px;font-family: poppins; font-size: 14px;padding-left: 7px;">Bubble Study –Echo with saline contrast</label>
                            </div>
                        </td>
                    </tr>
                </table>

           
            <hr style="margin: 4px 0;">
            <div style="padding-top: 20px;background-color: white;">
               <table width="100%">
            <tbody>
                <tr>
                    <td style="padding-bottom: 0;">
                       <!--  <h5 style="color: #0c0c0c;font-family: poppins;font-size: 16px;">Dr. ABCD</h5>
                        <h5 style="color: #0c0c0c;font-family: poppins;font-size: 16px;">Adresss: 1234 Back street
                        </h5> -->
                        <h5 style="color: #0c0c0c;font-family: poppins;font-size: 14px;margin-bottom: 2px;">Signature:</h5>

                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <h5 style="color: #0c0c0c;font-family: poppins;font-size: 14px;margin-bottom: 4px;">Copy to:</h5>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;float: left;">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                 <div style="display: flex;">
                                                    <span
                                                        style="font-size: 13px;color: #444444;font-family: poppins;">Name</span>
                                                    <input placeholder="" class="input100" type="text" name="name"
                                                        style="background: #ebf1fe;width: 100%;border:0;">
                                                </div>
                                            </td>
                                            <td>
                                                 <div style="display: flex;">
                                                        <span
                                                            style="font-size: 13px;color: #444444;font-family: poppins;padding-left: 7px;">Email</span>
                                                        <input placeholder="" class="input100" type="text" name="name"
                                                            style="background: #ebf1fe;width: 100%;border:0;">
                                                    </div>
                                            </td>
                                            <td>
                                                 <div style="display: flex;">
                                                    <span
                                                        style="font-size: 13px;color: #444444;font-family: poppins;padding-left: 7px;">Fax</span>
                                                    <input placeholder="" class="input100" type="text" name="name"
                                                        style="background: #ebf1fe;width: 100%;border:0;">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="right" style="vertical-align: top;width: 50%;float: left;">
                                       <input placeholder="" class="input100" type="text" name="name"
                                                style="background: transparent;width: 200px;border-width: 0 0 1px;border-color: lightgrey;font">
                                    <h5 style="font-weight: 600;font-size: 14px;font-family: 15px;">Date</h5>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
</section>
     



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>