<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
 <style> 
 body{
  font-family: poppins;
}

</style>
  </head>
  <body>
   <div class="container" style="padding: 0;">
    <table style="color: #000;width: 100%;border: 1px solid #a3bdf5;">
        <tr>
            <td width="33.33%" style="padding: 10px 10px;">
              <img src="../public/img/logo.png" class="img-fluid" width="130px"/>
            </td>
            <td width="33%" style="text-align: center;">
                          <h4 style="font-weight: 700; font-size: 22px;font-family: poppins;">Dr. Rajiv Datoo MD, MBBS, FACP.</h4>
                          <p style="font-weight: 500; font-size:20px; margin: 0;font-family: poppins;">12345 Dehlki Road. Punjab</p>
                          <p style="font-weight: 500;font-size:20px;font-family: poppins;">Fax:+1-234-786-9876</p>
                        </td>
            <td width="33.33%" style="text-align: right;padding: 10px 10px;">
             <!--  <h3 style="font-weight: 600;color: red;padding: 28% 0 0 0;margin: 0;font-family: poppins;font-size: 22px;">Cardiology Requisition Form</h3> -->
            </td>
        </tr>
       </table>
     </div>
              <div class="container" style="padding:0;">
                <div style="">
                   <table style="width: 100%; background-color: #e8efff;">
                          <tr>
                                <div style="background:#a3bdf5;padding: 7px 25px; font-weight: 700; color: #000; font-family: poppins;">PATIENT INFORMATION
                               </div>
                          </tr>

                          <tr>
                                <td>
                                      <div style="margin: 18px 0;">
                                        <tr>
                                             <td>
                                              <div style="margin: 0 10px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 90px;">First Name:</span>
                                                      <input placeholder="" class="input100" type="text" name="name" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                            <td>
                                              <div style="margin-bottom: 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 101px;">Last Name:</span>
                                                      <input placeholder="" class="input100" type="text" name="name" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <div style="margin: 0 10px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 90px;">Address:</span><br>
                                                      <input placeholder="" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                            <td>
                                              <div style="margin: 0 0px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 103px;">D.O.B:</span><br>
                                                      <input placeholder="DD/MM/YYYY" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;font-size: 14px;">
                                              </div>
                                            </td>
                                            </tr>

                                            <tr>
                                            <td>
                                              <div style="margin: 0 10px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 90px;">Age:</span><br>
                                                      <input placeholder="" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                            <td>
                                              <div style="margin: 0 0px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width:103px;">Weight:</span><br>
                                                      <input placeholder="" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                            </tr>
                                            <tr>
                      <td>
                         <div style="margin: 0 10px 10px;display: flex; width: 100%;">
                                  <span style="font-size: 14px;color: #444444;font-family: poppins; max-width: 90px;">Phone number:</span><br>
                                  <input placeholder="" class="input100" type="contact" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                          </div>
                      </td>
                    </tr>
                                             
                                      </div>
                                </td>
                          </tr>
                  </table>
                  <div style="background-image: url('../public/img/watermark.png');background-size: cover;width: 100%;height: 100%;padding: 14px;padding-top: 2px;">
              <table class="rx-area" style="min-height: 250px;">
                <tr>
                  <td style="vertical-align: top;">
                        <div class="">
                          <h1 style="font-weight: 700; padding: 18px 0 0 0;font-size: 23px;font-family: poppins;">Reason for Consult:</h1>
                          <div style="height: 50px;"></div>
                          <h4 style="padding: 0;font-family: poppins;font-size: 20px;">HPI:</h4>
                          <h4 style="padding: 0;font-family: poppins;font-size: 20px;">Current Medical issues</h4>
                          <h5 style="padding: 0;font-family: poppins;font-size: 20px;">Past Medical & Surgical  History</h5>
                           <h5 style="padding: 0;font-family: poppins;font-size: 20px;">PAllergies</h5>
                            <h5 style="padding: 0;font-family: poppins;font-size: 20px;">Medication list</h5>
                             <h5 style="padding: 0;font-family: poppins;font-size: 20px;">Risk Factors( smoking/Alcohol & Drug history)</h5>
                        </div>
                      </td>
                    </tr>
               </table>
              <table width="100%">
                  <tr>
                    <td>
                         <div class="container" style="text-align: right;">
                              <div>
                            <h6 style="line-height: 36px;font-family: poppins;font-size: 15px;">Rajendra Chaudry MD, MBBS, FACP<br>
                                                  License number : 38903<br>
                                                 Signature :___________</h6>
                          
                     </div>
                   </div>
                 </td>
               </tr>
              </table>
            </div>         
    </div>
</div>

</body>
</html>