<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <style>
        body {
            font-family: poppins;
        }
    </style>
</head>

<body>
    <div class="container" style="padding: 0;">
        <table style="color: #000;width: 100%;border: 1px solid #a3bdf5;">
            <tr>
                <td width="33.33%" style="padding: 10px 10px;">
                    <img src="../public/img/logo.png" class="img-fluid" width="130px" />
                </td>
                <td width="33%" style="text-align: center;">
                    <h4 style="font-weight: 700; font-size: 22px;font-family: poppins;">Dr. Rajiv Datoo MD, MBBS, FACP.
                    </h4>
                    <p style="font-weight: 500; font-size:20px; margin: 0;font-family: poppins;">12345 Dehlki Road.
                        Punjab</p>
                    <p style="font-weight: 500;font-size:20px;font-family: poppins;">Fax:+1-234-786-9876</p>
                </td>
                <td width="33.33%" style="text-align: right;padding: 10px 10px;">
                    <!--  <h3 style="font-weight: 600;color: red;padding: 28% 0 0 0;margin: 0;font-family: poppins;font-size: 22px;">Cardiology Requisition Form</h3> -->
                </td>
            </tr>
        </table>
    </div>

              <div class="container" style="padding:0;">
                <div style="background-color:#e8efff;">
                   <table style="width: 100%;">
                          <tr>
                                <div style="background:#a3bdf5;padding: 7px 25px; font-weight: 700; color: #000; font-family: poppins;">PATIENT INFORMATION
                               </div>
                          </tr>

                          <tr>
                                <td>
                                      <div style="margin: 18px 0;">
                                        <tr>
                                             <td>
                                              <div style="margin: 0 10px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 80px;">First Name:</span>
                                                      <input placeholder="" class="input100" type="text" name="name" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                            <td>
                                              <div style="margin-bottom: 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 90px;">Last Name:</span>
                                                      <input placeholder="" class="input100" type="text" name="name" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                            <td>
                                              <div style="margin: 0 10px 10px;display: flex;">
                                                      <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 80px;">Address:</span><br>
                                                      <input placeholder="" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                               <td>
                                                  <div style="margin: 0 0px 10px 10px;display: flex;">
                                                          <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 80px;">D.O.B:</span><br>
                                                          <input placeholder="DD/MM/YYYY" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;font-size: 14px;">
                                                  </div>
                                                </td>
        
                                                <td>
                                                  <div style="margin: 0 10px 10px;display: flex;">
                                                          <span style="font-size: 14px;color: #444444;font-family: poppins; min-width: 80px;">Age:</span><br>
                                                          <input placeholder="" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                                  </div>
                                                </td>
                                                <td>
                                                  <div style="margin: 0 10px 10px;display: flex;">
                                                          <span style="font-size: 14px;color: #444444;font-family: poppins; min-width:80px;">Weight:</span><br>
                                                          <input placeholder="" class="input100" type="text" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                                  </div>
                                                </td>
                                            </tr>
                                            
                                             
                                      </div>
                                </td>
                          </tr>
                  </table>
                  
                  <table width="100%">
                       <tr>
                              <td>
                                 <div style="margin: 0 10px 10px;display: flex; width: 100%;">
                                          <span style="font-size: 14px;color: #444444;font-family: poppins; max-width: 90px;">Phone number:</span><br>
                                          <input placeholder="" class="input100" type="contact" name="address" style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                                  </div>
                              </td>
                        </tr>
                  </table>
                                           
            <table width="66%">
                <tr>
                    <td>
                
                <tr>
                    <td>
                        <h5 style="font-weight: 600;padding: 18px 11px;font-size: 16px;font-family: poppins;">This is to
                            certify that ( PATIENT NAME) was attended to by ( DR. ABC ) on (DATE).</h5>
                    </td>
                </tr>


                <tr>
                    <td width="100%">
                        <div style="margin: 0 10px 10px;display: flex;padding: 0 0 0 18px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <span
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 255px;font-weight: 600;">Patient
                                report’s being sick from:</span>
                            <input placeholder="DD/MM/YYYY" class="input100" type="text" name="name"
                                style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;">
                            <span
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 50px;font-weight: 600;">To:</span>
                            <input placeholder="DD/MM/YYYY" class="input100" type="text" name="name"
                                style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;font-size: 15px;font-family: poppins;">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="100%">
                        <div style="margin: 0 10px 10px;display: flex;padding: 0 0 0 18px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <span
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 57%;font-weight: 600;">Patient
                                has been advised on bedrest / off work for:</span>
                            <input placeholder="Days" class="input100" type="text" name="name"
                                style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;font-size: 15px;font-family: poppins;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <div style="margin: 0 10px 10px;display: flex;padding: 0 0 0 18px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <span
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 66%;font-weight: 600;">Patient
                                has been advised to follow up for reassessment in:</span>
                            <input placeholder="DD/MM/YYYY" class="input100" type="text" name="name"
                                style="background: transparent;width: 100%;border-width: 0 0 1px;border-color: lightgrey;font-size: 15px;font-family: poppins;">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="100%">
                        <div style="margin: 0 10px 10px;display: flex;padding: 0 0 0 18px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 66%;font-weight: 600;">Patient
                                has been advised on physiotherapy therapy</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="padding: 1px 0 12px 30px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 66%;font-weight: 600;">Patient
                                has been advised on massage therapy</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="padding: 0 0 14px 30px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 66%;font-weight: 600;">Patient
                                has been advised on chiropractor therapy</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <div style="padding: 0 0 2px 30px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <span
                                style="font-size: 15px;color: #444444;font-family: poppins;min-width: 50px;font-weight: 600;padding: 0 0 0 0px;">Other</span>
                        </div>
                        <div style="margin: 0px 10px 10px;display: flex;">
                            <textarea id="subject" name="subject" placeholder="Write something.."
                                style="height:200px; width: 100%;font-family: poppins;font-size: 14px;padding: 10px;"></textarea>
                        </div>

                    </td>
                </tr>

                </td>
                </tr>
            </table>
        </div>
            <div
                style="background-image: url('../public/img/watermark2.png');background-size: cover;width: 100%;height: 100%;padding: 14px;padding-top: 2px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="font-size: 18px;font-weight:500;padding: 0px 0;font-family: poppins;">
                            Thanking you for your kind consideration.
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size: 18px;font-weight: 500;padding: 0px 0;font-family: poppins;">
                            Sincerely,
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size: 18px;font-weight: 500;padding: 0px 0;font-family: poppins;">
                            Dr. ABC
                        </td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td style="line-height: 36px;font-family: poppins;font-size: 15px;">
                                        Signature :___________
                        </td>
                    </tr>
                </table>
            
        </div>
    </div>
</body>

</html>